//文档内头部
.component-header
  margin: 10px 0

//代码块
.code-lists
  margin: 10px 20px
  text-align: left
  .code-item
    margin: 15px 0
    padding: 10px 0
    border: 1px solid #e6f2f2
    border-radius: 3px
    &.active
      transition: all 0.3s
      border: 1px solid teal

//组件块
.component-lists
  .component-item
    margin: 20px 0
    cursor: pointer
    padding-bottom: 5px
    border-bottom: 2px solid #e6f2f2
    &.active
      transition: all 0.3s
      border-bottom: 2px solid teal

//组件文档说明头部弹出提示
.copy-alert
  position: absolute
  width: calc(100% - 424px)
  border-radius: 3px
  display: block


