//文档内头部
.component-header
  margin: 10px 0

//代码块
.code-lists
  margin: 10px 20px
  text-align: left
  .code-item-container
    margin-bottom: 10px
  .code-item
    margin: 15px 0
    padding: 10px 0
    border: 1px solid #e6f2f2
    border-radius: 3px
    &.active
      transition: all 0.3s
      border: 1px solid teal

//组件块
.component-lists
  .component-item
    margin: 20px 0
    cursor: pointer
    padding-bottom: 5px
    border-bottom: 2px solid #e6f2f2
    &:first-child
      margin: 0
    &.active
      transition: all 0.3s
      border-bottom: 2px solid teal

//组件说明
.component-explain
  margin: 10px 20px
  text-align: left
  line-height: 28px
  > p
    margin-top: 10px
  > ul
    padding: 0 20px
    > li
      list-style-type: square

//针对form给了一个固定值
.cube-form-field
  width: 100%

//滴滴表格
.cube-form-group
  .cube-form-group-legend
    padding: 10px 15px
    text-align: left

//展开框样式
.cubeic-select.down
  transform: rotate(360deg)
  transition: all 0.3s

.cubeic-select.up
  transform: rotate(180deg)
  transition: all 0.3s


