@font-face {
  font-family: 'iconfont';  /* project id 867509 */
  src: url('//at.alicdn.com/t/font_867509_1prm30hqglx.eot');
  src: url('//at.alicdn.com/t/font_867509_1prm30hqglx.eot?#iefix') format('embedded-opentype'),
          url('//at.alicdn.com/t/font_867509_1prm30hqglx.woff') format('woff'),
          url('//at.alicdn.com/t/font_867509_1prm30hqglx.ttf') format('truetype'),
          url('//at.alicdn.com/t/font_867509_1prm30hqglx.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-input:before { content: "\e71a";}